<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Franchise List</title>
</head>
<body>

<h2 style="color: red;">Name of the Franchise Table</h2>
<a href="{% url 'players_lists' %}" class="back-link">click to back</a>
<table >
    <thead>
        <tr>
            <th>Name</th>
            <th>Short Name</th>
            <th>Founded Year</th>
            <th>City</th>
            <th>Logo</th>
            <th>Actions</th>
           
        </tr>
    </thead>

    <tbody>
        {% for j in franchises %}
        <tr>
            <td>
                <a href="{% url 'franchise_data' j.id %}">{{ j.name }}</a> 
            </td>
            <td>{{ j.short_name }}</td>
            <td>{{ j.founded_year }}</td>
            <td>{{ j.city }}</td>
            

            <td>
                {% if j.logo_url %}
                    <img src="{{ j.logo_url.url }}" alt="logo" height="45">
                {% else %}
                    <span>No logo</span>
                {% endif %}
            </td>
            <td>
               <a style="background-color: blue; color: whitesmoke; font-size: medium;  border: solid black 1px;" href="{%url 'update_franchies' j.id%}">update</a>
            </td>
            <td>
                <form method="POST"  action="{% url 'delete_franchies' j.id %}">
                   {%csrf_token%}
                   <button type="submit" style="background-color: blue; color: whitesmoke; font-size: medium;  border: solid black 1px;" onclick="return confirm('Waring ❌❌ are you sure want to delete the players')">delete</button>
               </form>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
