<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>{{ franchise.name }} - data</h4>
    <h4>{{ franchise.short_name }} - data</h4>
    <h4>{{ franchise.founded_year }} - data</h4>
    <h4>{{ franchise.city }} - data</h4>
    <h4>{{ franchise.state }} - data</h4>
    <h4>{{ franchise.country }} - data</h4>
    <h4>{{ franchise.logo_url }} - data</h4>
</body>
</html>